{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}

<!-- Style Block -->

{% block style %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}


{% block content %}

<!-- Content -->

<div class="jumbotron">
    <div class="container">
      <h1>Pitchers Zone</h1>
      <p>Your great ideas are a click away. Pitch them right here.</p>
    </div>
  </div>

<div class="container">

  <div class="post-box">
    <h3>Post pitches!</h3>
      {% if current_user.is_authenticated %}
      {{wtf.quick_form(form_post)}}
      {% endif %}

  </div>

  <div class="posts">
      {% include 'post.html' %}
  </div>

</div>
<hr>
{% endblock %}